<section id="activities">
  <div class="container">
    <header class="row">
      <h1 class="span12">Conheça nossas atividades</h1>
    </header>


    <section class="row">
      <article class="span4">
        <%= link_to image_tag("activities/criancas_index.jpg", title: "Créditos: Luminosa Fotografia"), "/atividades/criancas" %>
        <h1><%= link_to "Crianças", "/atividades/criancas" %><h1>
      </article>
      <article class="span4">
        <%= link_to image_tag("activities/familias_index.jpg", title: "Créditos: Rafael Mesquita"), "/atividades/familias" %>
        <h1><%= link_to "Famílias", "/atividades/familias" %><h1>
      </article>
      <article class="span4">
        <%= link_to image_tag("activities/comunidade_index.jpg", title: "Créditos: Rafael Mesquita"), "/atividades/comunidade" %>
        <h1><%= link_to "Comunidades", "/atividades/comunidade" %><h1>
      </article>
    </section>
    <section class="row text">
      <article class="span4">
        Desde sua fundação, as atividades do Espaço da Criança-ARH se destinam à criança, a redução de sua vulnerabilidade, garantia dos seus direitos fundamentais e ensino de valores para a vida.
      </article>
      <article class="span4">
        As mães dos alunos e outras mulheres da comunidade têm acesso a cursos profissionalizantes gratuitos, oportunizando maior qualidade de vida nos lares através da geração de renda.
      </article>
      <article class="span4">
        Através de eventos solidários, levamos à comunidade dos Coelhos cuidados e serviços essenciais.
      </article>
    </section>
  </div>
</section>