<section id="activities">
  <div class="container">
    <header class="row">
      <h1 class="span12">Conheça nossas atividades</h1>
    </header>


    <section class="row">
      <article class="span4">
        <%= link_to image_tag("activities/comunidade_index.jpg", title: "Créditos: Rafael Mesquita"), "/atividades/comunidade" %>
        <h1><%= link_to "Comunidades", "/atividades/comunidade" %><h1>
      </article>
      <article class="span4">
        <%= link_to image_tag("activities/familias_index.jpg", title: "Créditos: Rafael Mesquita"), "/atividades/familias" %>
        <h1><%= link_to "Famílias", "/atividades/familias" %><h1>
      </article>
      <article class="span4">
        <%= link_to image_tag("activities/criancas_index.jpg", title: "Créditos: Luminosa Fotografia"), "/atividades/criancas" %>
        <h1><%= link_to "Crianças", "/atividades/criancas" %><h1>
      </article>
    </section>
    <section class="row text">
      <article class="span4">
        Desde sua fundação, as atividades do Espaço da Criança-ARH focaram a criança, a redução de sua vulnerabilidade e garantia dos seus direitos fundamentais.
      </article>
      <article class="span4">
        Hoje, a instituição possui um escopo de trabalho ampliado, abrangendo, além da criança, sua família e a comunidade, por entender que estas são as principais influências em seu desenvolvimento.
      </article>
      <article class="span4">
        Essa abordagem holística permite um trabalho mais integrado e duradouro, que produz resultados na criança e em seu lar.
      </article>
    </section>
  </div>
</section>