<section id="activities">
  <header class="row">
    <h1 class="span12">Conheça nossas atividades:</h1>
  </header>

  <section class="row">
    <article class="span4">
      <%= image_tag "activity_1.png" %>
      <h1>Reforço escolar</h1>
    </article>

    <article class="span4">
      <%= image_tag "activity_2.png" %>
      <h1>Alfabetização</h1>
    </article>

    <article class="span4">
      <%= image_tag "activity_3.png" %>
      <h1>Informática</h1>
    </article>
  </section>

  <section class="row">
    <article class="span4">
      <%= image_tag "activity_4.png" %>
      <h1>Refeição</h1>
    </article>

    <article class="span4">
      <%= image_tag "activity_5.png" %>
      <h1>Diversão</h1>
    </article>

    <article class="span4">
      <%= image_tag "activity_6.png" %>
      <h1>Esportes</h1>
    </article>
  </section>
</section>