<section id="activities">
  <header class="row">
    <h1 class="span12">Conheça nossas atividades:</h1>
  </header>

  <section class="row">
    <article class="span4">
      <%= image_tag "activities/activity_1.jpg" %>
      <h1>Reforço escolar</h1>
    </article>

    <article class="span4">
      <%= image_tag "activities/activity_2.jpg" %>
      <h1>Alfabetização</h1>
    </article>

    <article class="span4">
      <%= image_tag "activities/activity_3.jpg" %>
      <h1>Informática</h1>
    </article>
  </section>

  <section class="row">
    <article class="span4">
      <%= image_tag "activities/activity_4.jpg" %>
      <h1>Refeição</h1>
    </article>

    <article class="span4">
      <%= image_tag "activities/activity_5.jpg" %>
      <h1>Diversão</h1>
    </article>

    <article class="span4">
      <%= image_tag "activities/activity_6.jpg" %>
      <h1>Esportes</h1>
    </article>
  </section>
</section>