<section id="intro">
  <header>
    <h1>Espaço da Criança - A.R.H.</h1>
  </header>

  <section class="row">
    <article class="span4">
      <%= link_to image_tag("logo.jpg"), "/quem_somos" %>
      <h1><%= link_to "A instituição", "/quem_somos" %><h1>
    </article>
    <article class="span4">
      <%= image_tag "intro_2.jpg" %>
      <h1>O que por aqui?</h1>
    </article>
    <article class="span4">
      <%= link_to image_tag("intro_3.jpg"), "/como_ajudar" %>
      <h1><%= link_to "Como ajudar", "/como_ajudar" %><h1>
    </article>
  </section>
</section>