<section id="activities">
  <div class="container">
    <header class="row">
      <h1 class="span12">Know our activities</h1>
    </header>


    <section class="row">
      <article class="span4">
        <%= link_to image_tag("activities/criancas_index.jpg", title: "Credits: Luminosa Fotografia"), "/atividades/criancas" %>
        <h1><%= link_to "Children", "/activities/children" %><h1>
      </article>
      <article class="span4">
        <%= link_to image_tag("activities/familias_index.jpg", title: "Credits: Rafael Mesquita"), "/atividades/familias" %>
        <h1><%= link_to "Families", "/activities/families" %><h1>
      </article>
      <article class="span4">
        <%= link_to image_tag("activities/comunidade_index.jpg", title: "Credits: Rafael Mesquita"), "/atividades/comunidade" %>
        <h1><%= link_to "Communities", "/activities/communities" %><h1>
      </article>
    </section>
    <section class="row text">
      <article class="span4">
        From inception, Espaço da Criança-ARH has focused on the children of Recife’s favelas: providing a safe place for them to learn, grow and to just be kids. We teach them that they are valuable and can choose their own path in life.
      </article>
      <article class="span4">
        We give the mothers and women from Recife’s favelas access to free professional development courses; giving them the opportunity to improve their quality of life and that of their families.
      </article>
      <article class="span4">
        Through ongoing events, we provide essential care, services and food to the Coelhos favela, to help build a stronger community. 
      </article>
    </section>
  </div>
</section>