<section id="sponsors">
  <div class="container">
    <header class="row">
      <h1 class="span12">Our Valued Partners</h1>
    </header>

    <section class="row">
      <article>
        <%= link_to image_tag("sponsors/logo_1.jpg"), "#", :class => "span3", :target => "_blank" %>
      </article>
      <article>
        <%= link_to image_tag("sponsors/logo_2.jpg"), "http://www.lavague.com.br", :class => "span3", :target => "_blank" %>
      </article>
      <article>
        <%= link_to image_tag("sponsors/logo_3.jpg"), "http://www.restaurantepontenova.com.br", :class => "span3", :target => "_blank" %>
      </article>
      <article>
        <%= link_to image_tag("sponsors/logo_4.jpg"), "http://villacozinhadebistro.com.br", :class => "span3", :target => "_blank" %>
      </article>
    </section>

    <section class="row">
      <article>
        <%= link_to image_tag("sponsors/logo_5.jpg"), "http://www.sesc.com.br/mesabrasil", :class => "span3", :target => "_blank" %>
      </article>
      <article>
        <%= link_to image_tag("sponsors/logo_6.jpg"), "http://www.rioave.com.br", :class => "span3", :target => "_blank" %>
      </article>
      <article>
        <%= link_to image_tag("sponsors/logo_7.jpg"), "http://www.actaadm.com", :class => "span3", :target => "_blank" %>
      </article>
      <article>
        <%= link_to image_tag("sponsors/logo_8.jpg"), "http://www.abfengenharia.com.br/", :class => "span3", :target => "_blank" %>
      </article>
    </section>

    <section class="row">
      <article>
        <%= link_to image_tag("sponsors/logo_9.jpg"), "http://www.cristalina.com.br/", :class => "span3", :target => "_blank" %>
      </article>
      <article>
        <%= link_to image_tag("sponsors/logo_10.jpg"), "http://theinternationalexchange.co.uk", :class => "span3", :target => "_blank" %>
      </article>
      <article>
        <%= link_to image_tag("sponsors/logo_11.jpg"), "http://www.thoughtworks.com", :class => "span3", :target => "_blank" %>
      </article>
    </section>
  </div>
</section>