<nav id="top_nav">
  <div class="container">
    <nav>
      <%= link_to image_tag("logo.jpg"), root_path %>
      <ul>
        <li><%= link_to "Voltar ao Início", root_path %></li>
        <li><%= link_to "Voltar ao Topo", "#banner" %></li>
      </ul>
    </nav>
  </div>
</nav>

<div id="history">
  <div class="container">
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Nossa história</h1>
          <p>
            Fundado sob o nome de Associação para a Restauração do Homem (ARH) em 6 de setembro de 1991 por Abigail Mesquita, o Espaço da Criança-ARH já ajudou, desde então, mais de 1.000 crianças da cidade do Recife. 
          </p>
          <p>
            Em seus primeiros anos, a instituição atendia não apenas crianças, mas todo tipo de população marginalizada da área, funcionando inclusive como abrigo para moradores de rua. Entretanto, as dificuldades inerentes a tal escopo de trabalho fizeram com que, pouco tempo após sua fundação, a Associação buscasse cumprir sua missão e restaurar o homem resgatando, primeiro, a criança. 
          </p>
          <p>
            Esse foco foi traduzido no nome fantasia Espaço da Criança adotado pela instituição e mantido até hoje. No início, o projeto educava, alimentava, vestia e amparava mais de 100 crianças e adolescentes em situação de risco. 
          </p>
          <p>
            Crianças abandonadas e órfãs eram acolhidas pela instituição, que funcionou por 15 anos como abrigo e deu atendimento aos jovens dependentes químicos de cola. 
          </p>
          <p>
            Em 1994, com o agravamento da doença de sua fundadora, a Associação incorreu em dificuldades financeiras e, consequentemente, o número de crianças diminuiu. 
          </p>
          <p>
            Enquanto viveu e liderou a obra, Abigail Mesquita a sustentou com sua própria renda, sem patrocínio governamental ou de organizações  privadas. 
          </p>
          <p>
            Quando Abigail faleceu, a entidade contava com apenas 30 crianças. A casa estava em situação precária e as condições de funcionamento igualmente comprometidas. 
          </p>
          <p>
            A presidência passou à filha da fundadora, Núbia Mesquita (1994–1996), em seguida para Starla Joy, cunhada de Abigail, (1996–2000 e 2004–2006) e para o pastor Lécio Wanderley (2000–2004). 
          </p>
          <p>
            Com o passar do tempo, empresas, organizações não governamentais e pessoas físicas foram atraídas pelo chamado solidário da instituição, resultando em doações e parcerias que lhe permitiram manter-se funcionando até os dias de hoje, sendo presidida, desde 2006, por Núbia Mesquita. 
          </p>
          <p>
            Hoje, o Espaço da Criança-ARH opera apenas como creche e não mais como abrigo integral. Trata-se de uma organização sem fins lucrativos que recebe todo seu apoio de voluntários e organizações parceiras, atendendo atualmente 100 crianças pobres de 4 a 12 anos da comunidade dos Coelhos e adjacências. 
          </p>
          <p>
            Desde 2012, a instituição funciona em <%= link_to "sede própria", "http://espacocrianca-arh.blogspot.com.br/2012/09/espaco-da-crianca-arh-inaugura-sua-sede.html" %>, construída com apoio de numeroso parceiros.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">
              <%= image_tag "pages/history/historico_1.jpg" %>
              <p>
                Ao longo de duas décadas, mais de 1.000 crianças já foram atendidas.
              </p>
            </article>
            <article class="span4">
              <%= image_tag "pages/history/historico_2.jpg" %>
              <p>
                Abigail Mesquita nasceu em Recife e passou a maior parte da vida em Brasília. Ao voltar à cidade natal, chocou-se com o crescimento da miséria e fundou, em 1991, a Associação para a Restauração do Homem.
              </p>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>