<div id="index">
  <header id="banner">
    <div class="slide1 slide">
      <div class="container">
        <div class="row">
          <div class="text span5">
            <h1>Bem vindo</h1>
            <p>
              Somos uma organização não-governamental que há mais de 20 anos oferece educação, alimento e proteção para crianças que vivem em situação de extrema pobreza nas áreas desprivilegiadas do Recife, apoiando também suas famílias e comunidade.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="slide2 slide">
      <div class="container">
        <div class="row">
          <div class="text span5">
            <h1><%= link_to "A mudança começa aqui", "/quem_somos" %></h1>
            <p>
              Nossa missão é promover o desenvolvimento das crianças e famílias carentes do Recife. Mostrar que podem alcançar todo seu potencial e assim melhorar suas vidas e sua comunidade. Acreditamos que esta mudança começa aqui.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="slide3 slide">
      <div class="container">
        <div class="row">
          <div class="text span5">
            <h1><%= link_to "Crianças, famílias e comunidade", "#activities" %></h1>
            <p>
              Nós vemos o potencial de cada criança, família e da comunidade. Nossa abordagem holística busca promover mudanças em todos os níveis.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="slide4 slide">
      <div class="container">
        <div class="row">
          <div class="text span5">
            <h1><%= link_to "Junte-se a nós", "/como_ajudar" %></h1>
            <p>
              Ajude o Espaço da Criança-ARH a continuar transformando vidas. Há muita formas de participar: <%= link_to "clique e saiba como", "/como_ajudar" %>!
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <%= render "site/index/intro" %>
  <%= render "site/index/activities" %>
  <%= render "site/index/facebook" %>
  <%= render "site/index/history" %>
    
  <%= render "site/index/sponsors" %>
  <%= render "site/index/location" %>
</div>