<div id="index">
  <header id="banner">
    <div class="container">
      <div class="row">
        <div class="text span5">
          <h1>Bem vindo</h1>
          <p>
            O Espaço da Criança-ARH é uma organização não-governamental que há mais de 20 anos oferece educação, alimento e proteção para crianças que vivem esituação de extrema pobreza nas áreas desprivilegiadas do Recife, apoiandtambém suas famílias e comunidade.
          </p>
        </div>
      </div>
    </div>
  </header>

  <%= render "site/index/intro" %>
  <%= render "site/index/activities" %>
  <%= render "site/index/facebook" %>
  <%= render "site/index/history" %>
    
  <%= render "site/index/sponsors" %>
  <%= render "site/index/location" %>
</div>