<nav id="top_nav">
  <div class="container">
    <nav>
      <%= link_to image_tag("logo.jpg"), root_path %>
      <ul>
        <li><%= link_to "Início", "#banner" %></li>
        <li><%= link_to "Atividades", "#activities" %></li>
        <li><%= link_to "História", "#history" %></li>
        <li><%= link_to "Patrocínio", "#sponsors" %></li>
      </ul>
    </nav>
  </div>
</nav>

<div id="index">
  <div class="container">
    <header id="banner" class="row">
      <div class="span5">
        <h1>Bem vindo</h1>
        <p>
          O Espaço da Criança-ARH é uma organização não-governamental que tem como missão fornecer educação, alimento e proteção para crianças que vivem em situação de extrema pobreza nas áreas mais desprivilegiadas do Recife, bem como oferecer apoio às suas famílias e comunidade.
        </p>
      </div>

      <div class="span7">
        <%= image_tag "banner_1.jpg" %>
      </div>
    </header>

    <%= render "site/index/intro" %>
    <%= render "site/index/activities" %>
    <%= render "site/index/facebook" %>
    <%= render "site/index/history" %>
    
    <%= render "site/index/sponsors" %>
  </div>
</div>