<nav id="top_nav">
  <div class="container">
    <nav>
      <%= link_to image_tag("logo.jpg"), root_path %>
      <ul>
        <li><%= link_to "Voltar ao Início", root_path %></li>
        <li><%= link_to "Voltar ao Topo", "#banner" %></li>
        <li><%= link_to "Dados da Instituição", "#dados_da_instituicao" %></li>
      </ul>
    </nav>
  </div>
</nav>

<div id="who_we_are">
  <div class="container">
    <section id="intro">
      <section class="row">
        <div class="content span8">
          <h1>Quem somos</h1>
          <p>
            O Espaço da Criança-ARH é uma organização não-governamental que tem como missão fornecer educação, alimento e proteção para crianças que vivem em situação de extrema pobreza nas áreas mais desprivilegiadas do Recife, bem como oferecer apoio às suas famílias e comunidade.
          </p>

          <p>
            A instituição atende cerca de 100 crianças de comunidades carentes da Região PolíticoAdministrativa 1 (RPA 1), principalmente dos Coelhos, Ilha do Leite e outras. Elas vivem em situação de alto risco, em um ambiente que apresenta diversas ameaças ao seu pleno desenvolvimento físico e psíquico. Pobreza, abandono, violência, drogas e envolvimento com o tráfico são alguns dos males aos quais seus lares estão sujeitos cotidianamente.
          </p>

          <p>
            Não são poucos os casos de parentes presos ou mortos em confronto com a polícia e de famílias dissolvidas pelo crime – especialmente o narcotráfico –, deixando muitas das crianças sós ou desprovidas de cuidados essenciais.
          </p>

          <p>
            Ao oferecer a essas crianças em condição de risco um ambiente saudável e seguro, a instituição tem como missão mantê-las a salvo dos efeitos danosos engendrados pela violência, pela criminalidade e pelo abandono que povoam seu ambiente cotidiano e restaurar sua perspectiva de inserção plena e cidadã na sociedade.
          </p>

          <h2 id="dados_da_instituicao">Dados da instituição:</h2>

          <p>
            <b>Razão social:</b> Associação para a Restauração do Homem (ARH)<br />
            <b>Nome fantasia:</b> Espaço da Criança<br />
            <b>CNPJ:</b> 40.813.313/0001-83<br />
            <b>CIM:</b> 217414-6<br />
            <b>CNAS:</b> 289.880.014.74/93-59<br />
            <b>CMAS:</b> 037/96<br />
            <b>Data da publicação da Utilidade Pública Municipal:</b> Lei nº 16213/96, em 05/07/1996.
          </p>
        </div>

        <section class="photos span4">
          <div class="row">
            <article class="span4">
              <%= image_tag "pages/who_we_are/quem_somos_1.JPG" %>
              <p>
                A instituição oferece aos pequenos a chance de fazer o que eles fazem melhor: ser criança.
              </p>
            </article>
          </div>
        </section>
      </section>
    </section>
  </div>
</div>