<div id="how_to_help">
  <div class="container">
    <header id="banner">
    </header>

    <section id="intro">
      <section class="row">
        <div class="content span12">
          <h1>How to participate</h1>
          <p>
            We rely solely on private donations and every contribution is valuable to us and those the organization serves; your participation is needed!
          </p>
          <p>
            See below how you can help us: 
          </p>
        </div>
      </section>
  
      <article class="row content">
        <div class="span3">
          <%= image_tag "pages/how_to_help/help_1.jpg", title: "Créditos: Luminosa Fotografia" %>
        </div>
        <div class="span9">
          <h2>Make a donation</h2>
          <p>
            With only a click you can help us to continue with our mission. <%= link_to "Click here to donate", "/en/donate" %>.
          </p>
        </div>
      </article>

      <article class="row content">
        <div class="span9">
          <h2>Adopt a project</h2>
          <p>
            Your company can support one of Espaço da Criança-ARH’s projects around education, citizenship, professional development for the children and women of the community.
          </p>
        </div>
        <div class="span3">
          <%= image_tag "pages/how_to_help/help_2.jpg", title: "Credits: Rafael Mesquita" %>
        </div>
      </article>
  
      <article class="row content">
        <div class="span3">
            <%= image_tag "pages/how_to_help/help_3.jpg", title: "Créditos: Rafael Mesquita" %>
        </div>
        <div class="span9">
          <h2>Be a volunteer</h2>
          <p>
            You, your company, church or group of friends can all volunteer for a day, or more at the organization.
          </p>
        </div>
        
      </article>
  
      <article class="row content">
        <div class="span9">
          <h2>Throw a party!</h2>
          <p>
            Organize a party on special dates, to celebrate holidays and birthdays to bring joy to our children!
          </p>
        </div>
        <div class="span3">
          <%= image_tag "pages/how_to_help/help_4.jpg", title: "Rafael Mesquita" %>
        </div>
      </article>
    </section>
  </div>
</div>