<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Espacodacrianca</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/facebook_api" %>

<nav id="top_nav">
  <div class="container">
    <nav>
      <ul>
        <li><%= link_to "Início", root_path %></li>
        <li class="about_us menu">
          <span>Sobre nós</span>
          <ul>
            <li><%= link_to "Quem somos", "/quem_somos" %></li>
            <li><%= link_to "Nossa história", "/historia" %></li>
          </ul>
        </li>
        <li  class="activities menu">
          <span>Atividades</span>
          <ul>
            <li><%= link_to "Crianças", "/atividades/criancas" %></li>
            <li><%= link_to "Famílias", "/atividades/familias" %></li>
            <li><%= link_to "Comunidade", "/atividades/comunidade" %></li>
          </ul>
        </li>
        <li  class="news menu">
          <span>Notícias & Mídia</span>
          <ul>
            <li><%= link_to "Notícias", "/blog" %></li>
            <li><%= link_to "Fotos e vídeos", "/fotos_e_videos" %></li>
            <li><%= link_to "Revista institucional", "/revista" %></li>
          </ul>
        </li>
        <li><%= link_to "Contato", "/#location" %></li>
        <li><%= link_to "Parceiros", "/#sponsors" %></li>
      </ul>

      <%= link_to "Como ajudar?", "/como_ajudar", id: :how_to_help_btn %>
    </nav>
  </div>
</nav>

<%= yield %>

<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <%= image_tag "logo.jpg" %>
      </div>

      <div class="span9">
        <ul>
          <li>
            <%= image_tag "icons/blogger.png" %>
            <%= link_to "Blog", "http://espacocrianca-arh.blogspot.com.br/", target: :_blank %>
          </li>

          <li>
            <%= image_tag "icons/facebook.png" %>
            <%= link_to "Facebook", "https://www.facebook.com/espacodacrianca.arh", target: :_blank %>
          </li>

          <li>
            <%= image_tag "icons/youtube.png" %>
            <%= link_to "Youtube", "http://www.youtube.com/user/EspacoCriancaARH", target: :_blank %>
          </li>
          
          <li>
            <%= image_tag "icons/email.png" %>
            <%= link_to "arhcrianca@gmail.com", "mailto:arhcrianca@gmail.com", target: :_blank %>
          </li>
          
          <li>
            <%= image_tag "icons/phone.png" %>
            +55 (81) 3231-1402
          </li>

          <li>
            <%= image_tag "icons/address.png" %>
            Rua José de Alencar, 421, Boa Vista, Recife-PE CEP: 50070-030
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
