<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Espacodacrianca</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/facebook_api" %>

<nav id="top_nav">
  <div class="container">
    <nav>
      <%= link_to image_tag("logo.jpg"), root_path %>
      <ul>
        <li><%= link_to "Início", root_path %></li>
        <li><%= link_to "Atividades", "/#activities" %></li>
        <li><%= link_to "História", "/#history" %></li>
        <li><%= link_to "Patrocínio", "/#sponsors" %></li>
        <li><%= link_to "Como ajudar", "/como_ajudar" %></li>
      </ul>
    </nav>
  </div>
</nav>

<%= yield %>

<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <%= image_tag "logo.jpg" %>
      </div>

      <div class="span9">
        <ul>
          <li>
            <%= image_tag "icons/blogger.png" %>
            <%= link_to "Blog", "http://espacocrianca-arh.blogspot.com.br/", :target => "_blank" %>
          </li>

          <li>
            <%= image_tag "icons/facebook.png" %>
            <%= link_to "Facebook", "https://www.facebook.com/espacodacrianca.arh" %>
          </li>

          <li>
            <%= image_tag "icons/youtube.png" %>
            <%= link_to "Youtube", "http://www.youtube.com/user/EspacoCriancaARH" %>
          </li>
          
          <li>
            <%= image_tag "icons/email.png" %>
            <%= link_to "arhcrianca@gmail.com", "mailto:arhcrianca@gmail.com", :target => "_blank" %>
          </li>
          
          <li>
            <%= image_tag "icons/phone.png" %>
            +55 (81) 3231-1402
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
